<!-- views/event.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= activity.name %> at <%= activity.place_name %> - Victoria Community Calendar
    </title>
    <% include partials/_head.ejs %>
  </head>
  <body>

    <% include partials/_header.ejs %>

    <div class="container well">

      <div class="row">

        <div class="col-xs-12 col-sm-7">

          <h2>Event Details</h2>
          <div>
            <h3><%= activity.name %></h3>
            <h3>at <a href="/BC/<%= activity.region_slug %>/<%= activity.place_slug %>" title="<%= activity.place_name %>"><%= activity.place_name %></a></h3>
            <p>Address: <%= activity.street_address %>, <%= activity.region_name %></p>
            <p><%= activity.description %></p>
            <% if (activity.start_date === activity.end_date) { %>
              <p>Date: <%= activity.start_date %></p>
            <% } else { %>
            <p>Starts: <%= activity.start_date %></p>
            <p>Ends: <%= activity.end_date %></p>
            <% } %>
            <p>Price:</p>
            <div class="price-box">
              <% if (activity.price_range === 0) { %>
                <p class="price-range">Free!</p>
              <% } else { %>
                <% for (p = 0; p < activity.price_range; p++) { %><span class="glyphicon glyphicon-usd price-range" aria-hidden="true"></span><% } %>
                / <span class="glyphicon glyphicon-usd price-denominator" aria-hidden="true"></span><span class="glyphicon glyphicon-usd price-denominator" aria-hidden="true"></span><span class="glyphicon glyphicon-usd price-denominator" aria-hidden="true"></span>
              <% } %>
            </div>
            <p><a href="<%= activity.source %>" title="<%= activity.name %>">Source</a></p>
          </div>

        </div>

        <div class="col-xs-12 col-sm-5">
          <div id="map" class="map-event"></div>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12">
          <% if (!userId && savedUsers.length) { %>
            <div class="well favourite-well">
              <p><i class="fa fa-heart" aria-hidden="true"></i>&nbsp x <%= savedUsers.length %> : <a href="/user/register">Register</a> or <a href="/user/login">login</a> to save this event.</p>
            </div>
          <% } else if (userId && savedUsers.indexOf(userId) === -1) { %>
            <div class="well favourite-well">
              <p><i class="fa fa-heart" aria-hidden="true"></i>&nbsp <%= savedUsers.length %> user(s) have saved this event.</p>
              <div>
                <form action="/event/saved/<%=activity.id%>/<%=userId%>" method="POST">
                  <button type="submit" class="btn btn-block btn-primary favourite-button">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <span>&nbsp Save this event</span>
                  </button>
                </form>
              </div>
            </div>
          <% } else if (userId && (savedUsers.indexOf(userId) !== -1)) { %>
            <div class="well favourite-well">
              <% if (savedUsers.length > 1) { %>
                <p><i class="fa fa-heart" aria-hidden="true"></i>&nbsp You and <%= savedUsers.length - 1 %> other(s) have saved this event.</p>
              <% } else { %>
                <p><i class="fa fa-heart" aria-hidden="true"></i>&nbsp You are the first one to save this event. Woohoo!</p>
              <% } %>
                <div class="dropup">
                  <button class="btn btn-block btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Remove saved event?
                   <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                  <ul class="dropdown-menu delete-dropdown">
                    <li>
                      <form action="/event/delete/<%= activity.id %>/<%= userId %>" method="POST">
                        <button class="btn btn-block btn-danger" title="Delete <%= activity.name %> from your Saved Events">
                          Delete! <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                      </form>
                    </li>
                  </ul>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>

  </div>

  <% include partials/_footer.ejs %>

  </body>

  <script>
    function initMap() {
      var eventLoc = {
        lat: <%= activity.latitude %>,
        lng: <%= activity.longitude %>
      };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: eventLoc
      });
      var marker = new google.maps.Marker({
        position: eventLoc,
        map: map
      });
    }
  </script>
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap"
  async defer></script>

</html>
