<!DOCTYPE html>
<html>
  <head>
    <title>
      Victoria Community Calendar
    </title>

    <% include partials/_head.ejs %>

    <script type="text/javascript" src="/scripts/event.js"></script>

  </head>
  <body>

    <% include partials/_header.ejs %>

    <div class="container">
      <h3>Event Details</h3>
      <div>
        <h2><%= activity.name %></h2>
        <h3>at <%= activity.place_name %></h3>
        <p>Address: <%= activity.street_address %>, <%= activity.region_name %></p>
        <p><%= activity.description %></p>
        <% if (activity.start_date === activity.end_date) { %>
          <p>Date: <%= activity.start_date %></p>
        <% } %>
        <p>Starts: <%= activity.start_date %></p>
        <p>Ends: <%= activity.end_date %></p>
        <p>
          Price:
          <div class="price-box">
            <% if (activity.price_range === 0) { %>
              <p>Free!</p>
            <% } else { %>
              <% for (p = 0; p < activity.price_range; p++) { %><span class="glyphicon glyphicon-usd price-range" aria-hidden="true"></span><% } %>
              / <span class="glyphicon glyphicon-usd price-denominator" aria-hidden="true"></span><span class="glyphicon glyphicon-usd price-denominator" aria-hidden="true"></span><span class="glyphicon glyphicon-usd price-denominator" aria-hidden="true"></span>
            <% } %>
          </div>
        </p>
        <p>
          <a href="<%= activity.source %>" title="<%= activity.name %>">Source</a></p>
      </div>
    </div>

    <div id="map"></div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap"></script>

    <% if (userId) { %>
      <div>
        <input type="hidden" id="activity-id" value="<%=activityId%>">
        <form action="/event/saved/<%=activityId%>/<%=userId%>" method="POST">
          <button class="save-event" type="button">Save Event</button>
        </form>
      </div>
    <% } %>

  </body>

  <% include partials/_footer.ejs %>

</html>
