<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>

    <% include partials/_head.ejs %>


    <title>
      Victoria Community Calendar
    </title>
  </head>

  <body class="home-page-body">

    <% include partials/_header.ejs %>

    <div class="container">

      <div class="dropdown btn-group">
        <button type="button" class="dropbtn btn btn-default dropdown-toggle" data-toggle="dropdown">Choose a Region<span class="caret"></span></button>
        <ul class="dropdown-content dropdown-menu scrollable-menu" role="menu">

        <% region.forEach(function(r) { %>
          <li><a href="/BC/<%=r.region_slug%>"><%=r.region_name%></a></li>
        <% } ) %>

        </ul>
      </div>

      <div class="dropdown btn-group">
        <button type="button" class="dropbtn btn btn-default dropdown-toggle" data-toggle="dropdown">Choose a Centre<span class="caret"></span></button>
        <ul class="dropdown-content dropdown-menu scrollable-menu" role="menu">

        <% place.forEach(function(p) { %>
          <li><a href="/BC/<%=p.region_slug%>/<%=p.place_slug%>"><%=p.place_name%></a></li>
        <% } ) %>

        </ul>
      </div>

      <div class="dropdown btn-group">
        <button type="button" class="dropbtn btn btn-default dropdown-toggle" data-toggle="dropdown">Choose a Price Range<span class="caret"></span></button>
        <ul class="dropdown-content dropdown-menu scrollable-menu" role="menu">
          <li><a href="/price/0">Free!</a></li>
          <li><a href="/price/1">Less Than $10</a></li>
          <li><a href="/price/2">Between $10 and $100</a></li>
          <li><a href="/price/3">More Then $100</a></li>
        </ul>
      </div>

    </div>

    <% include partials/_footer.ejs %>

  </body>
</html>
