<!DOCTYPE hmtl>
<html>
  <head>
    <title>
      Victoria Community Calendar
    </title>
    <% include partials/_head.ejs %>

  </head>

  <body>

    <% include partials/_header.ejs %>

    <div>
      <input type="hidden" id="user-profile-id" value="<%=user.id%>">
      <h1><span class="user-name-highlight"><%=user.name%></span></h1>
    </div>

    <div class="saved-events-body">
      <h3>Saved Events</h3>
      <% savedEvents.forEach(function(savedEvent) { %>
      <div class="saved-events well">
        <a href="/BC/<%=savedEvent.region_slug%>/<%=savedEvent.place_slug%>/<savedEvent.activity_slug%>"><%=savedEvent.activity_name%></a>
        <p> at <%=savedEvent.place_name%></p>
        <p><%=savedEvent.activity_start_date%></p>
        <p><%=savedEvent.activity_end_date%></p>
        <p><%=savedEvent.activity_source%></p>
      </div>
      <% } ) %>
    </div>

    <div>
      <h3> Favourited Places</h3>
      <% favedPlaces.forEach(function(favedPlace) { %>
      <div class="favourited-places well">
        <a href="/BC/<%=favedPlace.region_slug%>/<%=favedPlace.place_slug%>"><%=favedPlace.place_name%></a>
      </div>
      <% } ) %>
    </div>

    <% include partials/_footer.ejs %>

  </body>
</html>
